@model CIneKinalMVC.Models.ComplejoSala

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ComplejoSala</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Complejo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complejo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sala.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sala.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
